/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-develop  {
  background: $red;
  //border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  //max-width: 740px;
  max-width:940px;
  padding: 1rem;
  text-align:left;
}
